/*
Skin Name: Nivo Slider Theme1200 Theme
Skin URI: http://www.solagirl.net
Skin Type: flexible
Version: 1.0
Author: Sola
Author URI: http://www.solagirl.net
*/
.theme-theme1200 {
	background: url(slider-bg.jpg) 50% 0 no-repeat;
	padding: 10px 0;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	height: 491px;
}
.theme-theme1200 .nivoSlider {
	background: url("images/ajax-loader.gif") no-repeat;
	height: 491px;
	margin: 0 auto;
	position: relative;
	width: 930px;
}
/* The slices and boxes in the Slider */
.theme-theme1200 .nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
}
.theme-theme1200 .nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
}

/* Caption styles */

.theme-theme1200 .nivo-caption {
	background: none;
	color: #FFF;
	opacity: 0.8; /* Overridden by captionOpacity setting */
	position: absolute;
	top: 187px;
	left: 55px;
	z-index: 89;
}

.theme-theme1200 .nivo-caption .nivo-caption-inner {
	padding:0;
	margin:0;
}

.theme-theme1200 .nivo-caption a {
	background: #cc0000;
	display: inline-block !important;
	height: 41px;
	padding: 0 15px;
	line-height: 40px;
	font-size: 23px;
	text-decoration: none;
	color: #FFF;
}
.theme-theme1200 .nivo-caption h5 {
    color: #7F7F7F;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.theme-theme1200 .nivo-caption h5 strong {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    font-weight: 400;
    height: 61px;
    line-height: 56px;
    margin: 0 0 10px;
    padding: 0 13px;
}
.theme-theme1200 .nivo-caption a:hover {
	color: #000;
}

.theme-theme1200 .nivo-html-caption {
  display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.theme-theme1200 .nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.theme-theme1200 .nivo-prevNav {
	left:0px;
}
.theme-theme1200 .nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */

.theme-theme1200 .nivo-controlNav {
	height: 17px;
	text-align: right;
	position: absolute;
	top: 460px;	
	right: 14px;
	z-index: 99;
}

.theme-theme1200 .nivo-controlNav a {
	background: url(pagination.png) no-repeat 0% 0%;
	display: inline-block !important;
	position: relative;
	width: 17px;
	height: 17px;
	overflow: hidden;
	margin: 0 0 0 3px;
	line-height: 0;
	font-size: 0;
	text-decoration: none;
	z-index: 99;
	cursor: pointer;
	vertical-align: top;
}

.theme-theme1200 .nivo-controlNav a.active, 
.theme-theme1200 .nivo-controlNav a:hover {
	background-position: 0% -17px;
}

.theme-theme1200 .nivo-directionNav a {
	position:absolute;
	display:block;
	width:36px;
	height:35px;
	text-indent:-9999px;
	border:0;
	top:45%;
	background:url(direction_nav.png) no-repeat 0 0;
}
.theme-theme1200 a.nivo-nextNav {
	right:15px;
	background-position:-36px 0;
}
.theme-theme1200 a.nivo-nextNav:hover {
	background-position:-36px -35px;
	}
.theme-theme1200 a.nivo-prevNav {
	left:15px;
	background-position:0 0;
}
.theme-theme1200 a.nivo-prevNav:hover {
	background-position:0 -35px;
	}

.theme-theme1200 #slider .nivo-controlNav img {
	display: inline; /* Unhide the thumbnails */
	position: relative;
	margin-right: 10px;
	width: 120px;
	height: inherit;
}
.theme-theme1200 .nivo-html-caption {
	display:none;
}
